{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block content %}
      <div class="container">
        <div class="jumbotron">
          <img src="{% static 'images/companylogo.jpg' %}" alt="No Image Found" height="100" width="100">
          <h1>About us</h1>
          <h2> Robcode software Pvt Ltd is a software company.we provide services for softwares like Android,Web design and Web applications, IOS Applications and also Robot applications. </h2>
        </div>
      </div>
      
    
{% endblock %}

