{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Contact Us</h2>
    <div class="row">
    <div class="col-lg-8">
     <form action="#" method="post">
     <input class="form-control" name="name" placeholder="Name"></br>
     <input class="form-control" name="phone" placeholder="Phone"></br>
     <input class="form-control" name="email" placeholder="E-mail"></br>
     <textarea class="form-control" name="text" placeholder="How can we help you?"
     style="height:150px;"></textarea></br>
     <input class="btn btn-primary" type="submit" value="send"></br></br>
     </form>
    </div>
    <div class="col-md-4 text-center">
      <strong>ROBCODE SOFTWARE PVT LTD</strong></br>
      #23 "KUMAR KRUPA" <br>
      Tapovan nagar,Dharwad-580003 
      contact - 7204942247</br>

      

     </div>
    </div>
 </div>
<!--End Contact-->
      
    
{% endblock %}

