<!-- navbar -->
<div class="container">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'robcodeapp:services' %}">our services</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'robcodeapp:aboutus' %}">About us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'robcodeapp:contactus' %}">contact us</a>
        </li>




              
    </ul>
</div>